.bar {
  width: 32px;
  margin: auto;
  cursor: pointer;
  border-radius: 3px;
}

.dayLabel {
    font-size: 12px;
    text-align: center;
    color: var(--neutral-color-3);
    padding-top: 10px;
}

.amountLabel {
    font-size: 12px;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
}

@media (min-width: 450px) {
  .bar {
    width: 44px;
  }

  .dayLabel {
    font-size: 1rem;
  }

  .amountLabel {
    font-size: 1rem;
  }
}
