.container {
  background-color: var(--neutral-color-1);
  border-radius: 10px;
  width: 345px;
  margin: auto;
  padding: 25px 20px;
}

@media (min-width: 450px) {
  .container {
    width: 450px;
    padding: 40px 30px;
  }
}